body {
    color: white;
    background-color: black;
    padding: 40px;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.candor-bold {
    font-weight: 550;
}
.candor-row {
    height: 90%;
}
.candor-container {
    height: 100vh;
}
.candor-carousel {
    height: 100%;
}
.candor-android-badge {
    width: 45%;
}
.candor-apple-badge {
    width: 35%;
}
.carousel-inner { 
    height: 100%;
}
.carousel-control-prev {
    height: 80%;
}
.carousel-control-next {
    height: 80%;
}
.carousel-indicators {
    display: none
}
@media (min-width: 576px) {
    .candor-col-height {
        height: 100%;
    }
}